@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Iosevka Nerd Font", Arial, Helvetica, sans-serif;
}

pre {
  padding: 10px;
  border: 2px solid;
  overflow-x: auto;
}

.post-content pre,
.post-content code {
  font-family: "JetBrains Mono Nerd Font", monospace;
}

h1 {
  font-size: 1.2rem;
}

.post-content p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-content h1 {
  border-bottom: 1px solid;
}

.post-content li {
  padding-left: 1rem;
}

.section {
  border-bottom: 2px solid;
  padding: 10px 5px;
}

.prose {
  pre {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
    border-bottom: 2px solid;
  }
}

.table-of-contents {
  border: 1px dashed;
  padding: 2ch;
  background-color: var(--background);

  li::before {
    content: "- ";
  }

  a:hover {
    text-decoration: underline;
  }
}

.table-of-contents {
  @media (min-width: 800px) {
    float: right;
    margin-left: 2ch;
  }
}

.table-of-contents::before {
  content: "Table of Contents";
  border-bottom: 2px solid;
}
